.cabeçalho__menu-hamburger {
	width: 24px;
	height: 24px;
	background-image: url("../img/Menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;	/* Permite 'mexer' na altura e largura o inline-block*/
}

.cabeçalho {
	background-color: var(--branco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;	/* Libera a opção par colocar outros atributos como top, left etc */
}

.container {
	display: flex;
	align-items: center; /* Linha os itens do container no centro */
}

.container__imagem {
	padding: 1em;
}

.lista-menu {
	display: none; /* Remove a exibição da Lista do Menu ( sem ocupar espaço ) */
	position: absolute;	/* Permite movimentar o elemento de acordo com outro que veio antes */
	top: 100%;
	width: 60vw;
}

.container__botao:checked ~ .lista-menu {
	display: block;
}

.lista-menu__titulo,
.lista-menu__item {
	padding: 1em;
	background-color: var(--branco);
}

.lista-menu__titulo {
	color: var(--laranja);
	font-weight: 700;
}

.lista-menu__link {
	/* Fonte gradiente */
	background: var(--azul-degrade);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	text-transform: uppercase;
}

.container__botao {
	display: none; /* Remove o display do checked */
}

/* Mobile First*/

.container__titulo {
	display: none;	/* "1" Remove o conteúdo em telas menores */
}

.opções {
	display: none;
}

@media screen and (min-width: 1024px) { /* Aplicará >= 1024px*/
	.container__titulo,
	.container__titulo--negrito {
		font-family: var(--fonte-secundaria);
		font-size: 30px;
	}

	.container__titulo {
		font-weight: 400;
		display: block;	/* Exibe o conteúdo removido em "1" */
	}

	.container__titulo--negrito {
		font-weight: 700;
	}

	.opções {
		display: flex;
	}

	.opções__item {
		padding: 0 1em;
		text-transform: uppercase;
	}

	.opções__link {
		text-decoration: none;
		color: var(--preto);
	}

	.container__imagem-transparente {
		display: none;
	}

	.cabeçalho__menu-hamburger {
		display: none;
	}
}
